@extends('admin.layout.main')
@section('content')
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Plain Page</h3>
        </div>

        <div class="title_right">
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Plain Page</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    Add content to the page ...
                </div>
            </div>
        </div>
    </div>
</div>
@endsection